
#search-cards .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
    min-width: 300px;
    max-width: 400px;
    
  }

div.card-deck.ads {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.container {
  padding-bottom: 25px;

}

@media (max-width: 1199.98px) {
  div.card-deck.ads div.card.ad-card {
    min-width: 30%;
    max-width: 30%;
    margin: 1%;
  }
  
  }

  @media (max-width: 991.98px) {
    #search-cards .card {
      min-height: 540px;
      max-width: 100%;
    }
    div.card-deck.ads div.card.ad-card {
      min-width: 30%;
      max-width: 30%;
      margin: 1%;
    }

  }


  @media (max-width: 767.98px) { 
    div.card-deck.ads div.card.ad-card {
      min-width: 47%;
      max-width: 47%;
      margin: 1%;
    }

   }

  @media (max-width: 650.98px) { 
    #search-cards .card {
    min-height: 540px;
    max-width: 100%;
    } 
    div.card-deck.ads div.card.ad-card {
      min-width: 47%;
      max-width: 47%;
      margin: 1%;
    }
  }

  @media (max-width: 575.98px) {
    #search-cards .card {
      min-height: 700px;
      max-width: 100%;
    }

    div.card-deck.ads div.card.ad-card {
      min-width: 98%;
      max-width: 98%;
      margin: 1%;
    }

  }

  @media (min-width: 1199.98px) {
    div.card-deck.ads div.card.ad-card {
      min-width: 22%;
      max-width: 22%;
      margin: 1%;
    }
  }

button.wish-button-index, button.wish-button-remove {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
}

