.card-title {
    margin-bottom: .75rem;
    text-align: center;
}

div.card-columns a.card-link {
color: #fff;
text-align: center;
text-decoration: none;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: 400;
}

.card-columns .card {

    text-align: center;

}