div.marketing {
    margin-top: 75px;
}

.marketing .col-lg-3 {
    margin-bottom: 1.5rem;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }
  .marketing h3 {
    font-weight: 300;
  }
  .marketing .col-lg-3 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  img.rounded-circle {
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
  }

  h2.mp-h2 {
    text-align: center;
    margin-top: 20px;
  }

  div#cat-buttons .btn {
    border-radius: 0;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
  }

  .btn-group, .btn-group-vertical {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ul .nav-tabs .nav-link {
    border: 1px solid #ffff66;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

  }

  .nav-tabs {
    border-bottom: 1px solid #ffff66;
  }
 h4.progress-page {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
  }

  .progress-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

#progress-container-ads, #progress-container-orders {
    margin: 20px;
    width: 200px;
    height: 200px;
  }

#progress-page {
    background-color: #FFFFE7;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
    padding-top: 20px;
    border: 1px solid transparent;
    border-radius: .70rem;
    min-height: 70%;
  }

p.info-text {
  text-align: center;
}

h5.info-text {
  text-align: center;
}