
div.slider_wrapper {
	float: none;
	clear: both;
	width: 100%;
	margin: 0 auto;
	z-index: 2;
	position: relative;
    overflow: hidden;
    min-height: 550px;
    margin-top: 60px;
}

h5 {
    display: block;
}


div#slideblock, div#slideblock_2 {
	position: absolute;
	width: 200%;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}

/** Wrapper för varje hel produkt. */
div.slide_prod {
	width: 12.5%;
	position: relative;
	float: left;
}

.card {
    border: none;
    
}

.card-title {
    margin-bottom: -0.1rem;
}

div.slideblock .btn-outline-primary {

    border-color: none;

}

.btn {
    display: inline-block;
    font-weight: 400;
    margin-top: 10px;
}

div.slideblock .btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {

    border-color: none;

}

div.slideblock .btn-outline-primary:hover {

    border-color: none;

}


div.slide_arrow {
	
	z-index: 100;
	
	height: 100%;
	width: 50px;
	position: absolute;
}

div#left_arrow, div#left_arrow_2 {
	display: none;
}
div#left_arrow.visible {
	display: block;
	left: 10px;
}

div#left_arrow_2.visible {
	display: block;
}

div#right_arrow, div#right_arrow_2 {
	right: 10px;
}

div#right_arrow.hidden {
	display: none;
}

div#right_arrow_2.hidden {
	display: none;
}

div#right_arrow_back, div#right_arrow_back_2 {
	display: none;
}


div#right_arrow_back.visible {
	display: block;
	right: -18px;
}

div#right_arrow_back_2.visible {
	display: block;
	right: -18px;
}


div#right_arrow > span.icon{
	right: 0;
}

div#right_arrow_2 > span.icon{
	right: 0;
}

div.slide_arrow > span.icon {
	font-size: 30px;
	z-index: 200px;
	position: absolute;
	top: 34%;
	/*transform:translateY(-50%);*/
	cursor: pointer;
}


.tooltiptext {
    display: none;
    background-color: #4f5054;
    width: 115px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size: 0.9em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
    position: absolute;
    right: 20px;
    top: 173px;
    z-index: 1000;
    
}

div#right_arrow_back:hover .tooltiptext {
    display: block;
}

div#right_arrow_back_2:hover .tooltiptext {
    display: block;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px)
{
	div.slider_wrapper {

		min-height: 500px;
		margin-top: 50px
	}
}


/** IPAD */
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {


div#slideblock {
	width: 266%;
}

div.slide_arrow {
	z-index: 100;
	width: 40px;
	position: absolute;
}


div.slide_arrow > span.icon {
	font-size: 40px;
    top: 39%;
}


}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

	div#slideblock {
		width: 400%;
	}
	
	div.slider_wrapper {
		min-height: 465px;
		margin-top: 30px;
	}

	div.slide_arrow {
		z-index: 100;
		width: 40px;
		position: absolute;
	}

	div.slide_prod {
		width: 12.5%;
	}
	
	
	div.slide_arrow > span.icon {
		font-size: 35px;
		top: 39%;
	}

 }

 /* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

	div.slider_wrapper {
		min-height: 355px;
		margin-top: 30px;
	}

	div.slide_arrow {
		z-index: 100;
		width: 40px;
		position: absolute;
	}

	div.slide_arrow > span.icon {
		font-size: 30px;

	}

 }