body {
    margin: 0;
    font-family: font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;

}