body {
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

.container {
    margin-top: 50px;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

a {
    color: #60B8CC;
}